@import '/styles/partials/variable.scss';
@import '/styles/partials/_mixins.scss';

.wrapper {
  @include rem(margin-bottom, 52);

  @include media($md, min) {
    @include rem(margin-bottom, 50);
  }

  .heading {
    @include rem(font-size, 26);
    @include rem(margin-bottom, 30);
    @include rem(margin-top, 30);
    font-family: $font-bold;
    color: $raisinblack;

    @include media($md, min) {
      @include rem(font-size, 60);
      @include rem(margin-bottom, 50);
      color: $indigo;
    }
  }

  .hbgMenu{
    list-style: none;
    li{
      @include rem(margin-bottom,30);
      a{
        .menuTab{
          cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
          width: 30px;
          aspect-ratio: 1;
        }
        p{
          @include rem(font-size,22);
          @include rem(line-height,25);
          margin-bottom: 0;
          color: #000000;
          font-weight: 600;
        }
        }
        
      }
    }
  }
}
