@import 'styles/partials/variable';
@import 'styles/partials/mixins';

.wrapper {
  @include padding(20, 20, 20, 20);
  @include rem(margin-bottom, 52);
  @include rem(border-radius, 8);
  background-color: $aliceblue;
  display: flex;
  align-items: flex-start;

  @include media($md, min) {
    @include padding(14, 30, 14, 30);
    @include rem(margin-bottom, 100);
    align-items: center;
  }

  .desc {
    color: $raisinblack;
    margin-bottom: 0;
  }

  .icon {
    @include rem(margin-right, 16);
    @include padding(16, 22, 16, 22);
    background-color: $secondary;
    border-radius: 50%;

    @include media($md, min) {
      @include rem(margin-right, 30);
    }

    i {
      color: $ateneoblue;
      @include rem(font-size, 24);
    }
  }
}
