@import 'styles/partials/variable.scss';
@import 'styles/partials/mixins.scss';

.datePickerWrapper {
  border: 1px solid $platinum;
  border-radius: 1rem;
  max-width: 23.75rem;
  position: relative;
  margin-bottom: 1.25rem;

  @include media($md, max) {
    max-width: 20.5rem;
  }

  @include media($sm, max) {
    max-width: 100%;
  }

  label {
    position: absolute;
    z-index: 1;
    left: 1.25rem;
    top: 0.5rem;
    font-size: 0.75rem;
    color: $granite;
  }

  button {
    span {
      @include rem(height, 24);
      @include rem(margin-top, 8);
    }
  }

  > div {
    position: relative;
    z-index: 1;

    input {
      @include padding(62, 8, 10, 20);
      position: relative;
      background: transparent;
      width: 100%;
      color: $blue;
    }
  }

  .datePicker {
    outline: none;
    border: none;
  }
}
