@import '/styles/partials/variable.scss';
@import '/styles/partials/_mixins.scss';

.navWrapper {
  @include rem(margin-bottom, 52);
  width: 100%;
  background: $ateneoblue;

  @include media($md, min) {
    @include rem(margin-bottom, 100);
  }

  .pageNavWrapper {
    overflow: hidden;
    background-color: transparent;
    text-align: center;

    .pageNav {
      @include padding(18, 20, 18, 20);
      @include rem(margin-bottom, 0);
      max-width: 100%;
      list-style: none;
      text-align: center;
      overflow-x: auto;
      display: -webkit-inline-box;

      &::-webkit-scrollbar {
        display: none;
      }

      .pageNavItem {
        white-space: nowrap;
        text-align: center;
        margin: 0 1.25rem;
      }
    }
  }
}
